h1, h2, h3, h4, h5, h6 {
  color: #444444;
}

.my-container {
    border: 1px solid green;
}
.my-row {
    border: 3px solid red;
}
.my-col {
    border: 3px solid red;
}

.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }

h1 {margin-bottom:10px;}
div + div {margin-top:10px;}

.bg-steel {
  background-color: #5f788a;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 700;
}
