{% extends 'base.html' %}

{% block title %}
  Contact Srinivas Thomala
{% endblock %}

{% block content %}
<h3 style="text-align:center;">Contact me</h3>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-6" style="text-align:center;">
    <hr style="clear:both;"/>
    <p style="text-align:left;">
      <i class="icon pos fas fa-at"></i>
      <a href="mailto:srinivas.1796@gmail.com">srinivas.1796@gmail.com</a>
    </p>
    <p style="text-align:left;">
      <i class="fab fa-linkedin-in"></i>
      <a href="https://www.linkedin.com/in/srinivasthomala">www.linkedin.com/in/srinivasthomala</a>
    </p>
    <p style="text-align:left;">
      <i class="fab fa-github"></i>
      <a href="https://github.com/srinivasthomala">https://github.com/srinivasthomala</a>
    </p>
</div>
</div>
{% endblock %}
