{% extends 'base.html' %}

{% block title %}
  Srinivas Thomala&#39;s Portfolio
{% endblock %}

{% block content %}
<h2 style="text-align:center;">My Portfolio</h2>
<hr style="clear:both;"/>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-8" style="text-align:center;">
    <h4 style="text-align:left;">Study Group</h4>
      <p style="text-align:left;">
        <i class="icon pos fas fa-tasks"></i>
        A website which gets users together to work on similar interests.
      <p style="text-align:left;">
        <i class="icon pos fas fa-keyboard"></i>
          Python, HTML, CSS, JavaScript
      </p>
      <p style="text-align:left;">
        <i class="icon pos fas fa-link"></i>
        <a href="https://www.studygroup.com">https://www.studygroup.com</a>
      </p>
      <p style="text-align:left;">
        <i class="icon pos fab fa-git-alt"></i>
        <a href="https://www.studygroup.com">View on GitHub</a>
      </p>
      <hr style="clear:both;"/>
  </div>
</div>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-8" style="text-align:center;">
    <h4 style="text-align:left;">Portfolio</h4>
      <p style="text-align:left;">
        <i class="icon pos fas fa-tasks"></i>
        A personal porfolio website
      <p style="text-align:left;">
        <i class="icon pos fas fa-keyboard"></i>
          Python, HTML, CSS, JavaScript
      </p>
      <p style="text-align:left;">
        <i class="icon pos fas fa-link"></i>
        <a href="http://srinivasthomala.herokuapp.com">http://srinivasthomala.herokuapp.com</a>
      </p>
      <p style="text-align:left;">
        <i class="icon pos fab fa-git-alt"></i>
        <a href="https://www.studygroup.com">View on GitHub</a>
      </p>
      <hr style="clear:both;"/>
  </div>
</div>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-8" style="text-align:center;">
    <h4 style="text-align:left;">WiFi Gateway</h4>
      <p style="text-align:left;">
        <i class="icon pos fas fa-tasks"></i>
        Worked on solving the PLC limitation, which connects to its host through wired connection by building a wifi gateway.
      </p>
      <p style="text-align:left;">
        <i class="icon pos fas fa-keyboard"></i>
          C, Microcontrollers
      </p>
      <hr style="clear:both;"/>
  </div>
</div>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-8" style="text-align:center;">
    <h4 style="text-align:left;">Automata</h4>
      <p style="text-align:left;">
        <i class="icon pos fas fa-tasks"></i>
        Worked on building a bot which traverses shortest path from source to destination on a chess arena in the form of Knight.
      </p>
      <p style="text-align:left;">
        <i class="icon pos fas fa-keyboard"></i>
          C, Matlab, Arduino
      </p>
      <hr style="clear:both;"/>
</div>
</div>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-8" style="text-align:center;">
    <h4 style="text-align:left;">Trailblazer</h4>
      <p style="text-align:left;">
        <i class="icon pos fas fa-tasks"></i>
        Worked on building a bot which travels a black path on a white surface.
      </p>
      <p style="text-align:left;">
        <i class="icon pos fas fa-keyboard"></i>
          C, Arduino
      </p>
      <hr style="clear:both;"/>
</div>
</div>
{% endblock %}
