{% extends 'base.html' %}

{% block title %}
    Srinivas Thomala&#39;s Resume
{% endblock %}

{% block content %}
<h3 style="text-align:center;">Experience</h3>
  <div class="row justify-content-around" style="text-align:center;">
    <div class="col-8" style="text-align:center;">
      <hr style="clear:both;"/>
  <h5 style="text-align:left;">Software Engineer</h5>
  <h6 style="text-align:left;"> <i class="icon pos fas fa-keyboard"></i> July 2017 - July 2019</h6>
    <ul style="text-align:left;">
        <li>Implementation of video codecs for MPEG-2, MPEG-4, H.264 (AVC) and H.265 (HEVC) video standards.</li>
        <li>ARM (NEON), x86 (SSE) and multi-threading optimizations to improve the performance of video codecs.</li>
        <li>Improve robustness of video codecs through enhancements to validation frameworks.</li>
    </ul>
    <h5 style="text-align:left;">Software Intern</h5>
    <h6 style="text-align:left;"> <i class="icon pos fas fa-keyboard"></i> May 2016 - July 2016</h6>
    <ul style="text-align:left;">
        <li>Worked on the implementation of De-Interlacing algorithm to run on GPU (Graphics Processing Unit) using Open-CL.</li>
        <li>Open-CL kernels for each individual module of the algorithm are written and optimized.</li>
    </ul>
</div>
</div>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-8" style="text-align:center;">
  <h3 style="text-align:center;">Skills</h3>
  <hr style="clear:both;"/>
  <ul style="text-align:left;">
    <li>
        <strong>Languages:</strong>
        Java, Python, C++, C, HTML, CSS, JavaScript, Arm Assembly, Neon, Open-cl.
    </li>
    <li>
        <strong>Web Frameworks:</strong>
        Flask, Bootstrap.
    </li>
    <li>
        <strong>Industry Software Skills:</strong>
        Data Structures & Algorithms, Object Oriented Programming.
    </li>
    <li>
        <strong>Tools:</strong>
        Eclipse, Matlab.
    </li>
    <li>
        <strong>Configuration:</strong>
        make.
    </li>
    <li>
        <strong>Version control:</strong>
        GIT.
    </li>
  </ul>
</div>
</div>
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-8" style="text-align:center;">
  <h3 style="text-align:center;">Education</h3>
  <hr style="clear:both;"/>
  <ul style="text-align:left;">
    <li>Currently Pursuing Masters in Computer Science from University of Florida.</li>
    <li>Bachelor's degree from National Institute of Technology Karnataka, India.</li>
  </ul>
</div>
</div>
{% endblock %}
