{% extends 'base.html' %}

{% block title %}
  Srinivas Thomala, Software Developer
{% endblock %}

{% block content %}
<div class="row justify-content-around" style="text-align:center;">
  <div class="col-10" style="text-align:center;margin-top: 200px;">
    <h4 style="text-align:center;">Hello, I'm Srinivas Thomala</h4>
    <h4 style="text-align:center;">I'm a graduate student and actively looking for summer
                                   internship 2020</h4>
    <h4 style="text-align:center;"> I worked as software developer for 2 years.</h4>
    <br><h4 style="text-align:center;"> You can know more about me here:</h4>
    <a href="/resume" class="btn btn-outline-secondary activ" role="button" aria-pressed="true">Resume</a>
    <a href="/portfolio" class="btn btn-outline-secondary activ" role="button" aria-pressed="true">Portfolio</a>
    <a href="/contact" class="btn btn-outline-secondary activ" role="button" aria-pressed="true">Contact</a>
</div>
</div>
{% endblock %}
